.navigation {
	list-style-type:none;
	margin: -8px;
	padding: 0;
	overflow: hidden;
	text-align: center;
}

.navigation li {
	display: inline-block;
	text-align: center;
	font-size: 25px;
	line-height: 40px;
	transition: background-color 0.5s ease;	
}
.navigation li a {
	display: block;
	color: gray;
	text-align: center;
	padding: 16px;
	text-decoration: none;
}
.navigation li:hover {
	background-color: black;
	text-decoration: none;
}

.navigation li:active {
	background-color: #111111;
	text-decoration: none;
}

body{ 
	background-color: #444444;
	background-image: url("data/alena-aenami-darknight2200.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
}

body h1 {
	text-align: center;
	color: white;
}

body h2 {
	text-align: left;
	color: white;
	width: 50%;
}

.links ul {
	list-style-type: circle;
	list-style-position: outside;	
}

.links li {
	color: white;
	padding: 10px;
}

.links a:link, a:visited {
	color: white;
}

.links a:hover {
	background-color: darkred;
	text-decoration: none;
}

.my_photo {
	margin-left: 15%;
    margin-right: 15%;
	margin-top: 5%;
	display: block;
	width: 70%;
	padding: 0%;
}

.my_photo img{
	max-width: 20%;
	height: auto;
	border-style: solid;
	border-color: black;
	border-width: 3px;
    position: relative;
	float: right;
}

#about_file h2 {
	margin-top: 2%;
	margin-left: 5%;
	margin-right: 5%;
	width: 70%;
	color: white;
}

#hobbies_file h2 {
	color: white;
}

#hobbies_file h2 ul {
	margin-top: -1%;
}

.cl_hob {
	margin-left: 5%;
    margin-right: 5%;
	margin-top: 2%;
	display: block;
	width: 90%;
	padding: 0%;
}

.cl_hob img {
	width: 25%;
	height: auto;
	position: relative;
	float: right;
}

#about_file {
	color: white;
	overflow: auto;
}

#about_file div h2{
	margin-left: 5%;
    margin-right: 5%;
	margin-top: 2%;
	width: 90%;
	text-align: center;
}

#about_file div p {
	text-align: center;
}

#hobbies_file ul {
	font-size: 20px;
	font-weight: bold;
	color: white;
	margin-left: 6%;
}